* {
    padding: 0px;
    margin: 0px;
    font-family: "Lato", sans-serif;
}
body{
  background-color: #E3E6E6;
}
.header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
   
}

 .fa{
  background-color: #F3A847;
  width: 40px;
  border: none;
 }
 .search-bar {
    position: relative;
    display: inline-block;
  }
 .search-bar input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 550px; /* Adjust width as needed */
  }
  .search-bar button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    border: none;
    background-color: #f90;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
.navbar{
  background-color: #232F3E;
  /* padding-bottom: 20px; */
  height: 50px;
  color: white;
  display: flex;
  justify-content: start;
  align-items: center;

}
.lower{
  padding-right: 20px;
}

#mainBox {
 display: flex;
 justify-content: space-evenly;

}

.box{
  margin-top: -300px;
  z-index: 1;
  background-color: #ffffff;
  /* height: 340px; */
  width: 340px;
}

.hh{
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 0) 75%);
}

.box1{
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  background-color: #ffffff;
  padding: 10px;
}
.game{
  grid-column-start: 1;
  grid-column-end: 3;
}
.box2{
  padding: 10px;
}
.box3{
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  background-color: #ffffff;
  padding: 10px;
}
.box4{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  background-color: #ffffff;
  padding: 10px;
}

.smartphone{
  grid-column-start: 1;
  grid-column-end: 4;
}
#secondbox {
  display: flex;
  justify-content: space-evenly;
  
  margin-top: 15px;
 }
.boxx{
width: 340px;
height: 340px;
background-color: #ffffff;
}
.box5{
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  background-color: #ffffff;
  padding: 10px;
}
.box6{
  padding: 10px;
}
.box7{
  padding: 10px;
}
.box8{
  padding: 10px;
}
.backtotop{
  background-color: #37475A;
  color: white;
  text-align: center;
  padding: 15px;
}
.ending{
  display: flex;
  justify-content: center;
  /* justify-content: space-around; */
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 100px;
}
ul {
  list-style-type: none;
}
li{
  margin-top: 10px;
}

button{
  background-color: #232F3E;
  color: white;
  padding: 10px;
  border-color: white;
  border-radius: 5px;
  border-width: 1px;
  cursor: pointer;
}
.footer-button{
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100px;
}

.footer-links{
background-color: #131A22;
color: #D0DDDD;
display: flex;
justify-content: center;
padding-top: 20px;
padding-bottom: 5px;

}
.footer-links > p{
margin-left: 20px;
}

.footend{
  color: #D0DDDD;
  text-align: center;
  background-color: #131A22;
  padding-bottom: 20px;
}

